<div mat-dialog-title>
  Servidores

  <small class="text-danger">
    {{ data.message }}
  </small>
</div>
<form
  [formGroup]="selectServerForm"
  class="w-100 d-flex justify-content-center align-items-center"
>
  <mat-form-field appearance="outline">
    <mat-label>Seleccionar servidor</mat-label>
    <mat-select formControlName="server" placeholder="Seleccionar servidor">
      <mat-option *ngFor="let server of servers" [value]="server">{{
        server.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button
    class="btn btn-secondary w-100 mx-2"
    cdkFocusInitial
    [disabled]="!selectServerForm.valid"
    [mat-dialog-close]="selectServerForm.value"
  >
    Ok
  </button>
</div>
